// see vue.config.js
@mixin begin-page {
  min-height: calc(100vh - #{$header_height});
  margin: 0;
  padding: 20px 0;
  overflow-y: auto;
  // flex-wrap: wrap;
  font-size: 1.1rem;
}

@mixin begin-form {
  background-color: white;
  border: 1px solid $color_grey;
  border-radius: 30px;
  padding: 1rem 1.5rem 1.5rem;

  .form-title {
    display: flex;
    align-items: center;
    // font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;

    .title {
      flex-grow: 1;
    }
  }
}

/**
 * Custom application mixins available through out the app
 */

// define sass mixin
// Generates single property classes
// -------------------------
@mixin property-variants($base, $property, $variants: ()) {
  @each $size, $value in $variants {
    @if $size == 'md' {
      #{$base} {
        #{$property}: $value;
      }

      #{$base}-n {
        #{$property}: $value;
      }
    }

    #{$base}-#{$size} {
      #{$property}: $value;
    }

    #{$base}-n-#{$size} {
      #{$property}: -$value;
    }
  }
}

// Common thumbnail properties
// -------------------------
@mixin thumb($parent, $size) {
  #{$parent} {
    width: $size;

    > .glyphicon,
    > .fa {
      line-height: $size;
    }
  }
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@mixin sidebar-scrollbar() {
  &::-webkit-scrollbar {
    height: 8px;
    width: 4px;
    background: var(--sidebar-bg-color);
  }

  &::-webkit-scrollbar-track {
    background: var(--sidebar-bg-color);
  }

  &::-webkit-scrollbar-thumb {
    border: none;
    background-color: transparent;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: var(--sidebar-color);
  }
}

