// see vue.config.js
$header_height: 65px;

$color_grey: #6f6f6f;
$color_red: #ff4444;
$color_lightblue_1:#e1e7f5; /* bg color - account progress, btn */
$color_lightblue_2:#edf2f5; /* bg color - page */
$color_lightblue_3:#b9c8cf; /* bg color - footer */
$color_blue: #5e98f9; /* bg color - header menu, btn */
$color_darkblue: #29497c; /* font color - account progress */
$color_green: #52cd87;
